{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 2],
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "globals": {
    "window": true,
    "document": true,
    "expect": true,
    "describe": true,
    "it": true
  }
}